$font: "Helvetica Neue", Helvetica, Arial, sans-serif;
$primary: white;
$secondary: lightgrey;
$accent: crimson;
$opacity: 0.75;
$shadow: 0 0 5px 0;
$radius: 10px;
$breakpoints: (
    xs: 250px,
    sm: 500px,
    md: 750px,
    lg: 1000px,
    xl: 1250px
);