.home {
    width: 100%;
    padding: 35px;
    display: flex;
    justify-content: center;
    > .container {
        width: 100%;
        max-width: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;
        > .header {
            margin-bottom: 35px;
        }
        > .form {
            padding: 25px;
            width: 100%;
            height: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: $radius;
            box-shadow: $shadow $secondary;
            > .input {
                margin-right: 25px;
                padding: 15px;
                width: calc(100% - 50px);
                height: 50px;
                border-radius: $radius;
                box-shadow: $shadow $secondary;
                &:hover, &:focus {
                    box-shadow: $shadow $accent;
                }
            }
            > .submit {
                width: 50px;
                height: 50px;
                flex-shrink: 0;
                background-color: $accent;
                border-radius: $radius;
                &:hover {
                    opacity: $opacity;
                }
                > .icon {
                    color: $primary;
                }
            }
        }
        > .task {
            margin-top: 35px;
            width: 100%;
            height: 100px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-radius: $radius;
            box-shadow: $shadow $secondary;
            > .finished {
                width: 50px;
                height: 50px;
                margin: 25px;
                flex-shrink: 0;
                background-color: $primary;
                border-radius: $radius;
                box-shadow: $shadow $secondary;
                &:hover {
                    box-shadow: $shadow $accent;
                }
                > .icon {
                    color: $accent;
                }
            }
            > .title {
                text-align: center;
            }
            > .delete {
                width: 50px;
                height: 50px;
                margin: 25px;
                flex-shrink: 0;
                background-color: $accent;
                border-radius: $radius;
                &:hover {
                    opacity: $opacity;
                }
                > .icon {
                    color: $primary;
                }
            }
        }
    }
}