$font: "Helvetica Neue", Helvetica, Arial, sans-serif;
$primary: white;
$secondary: lightgrey;
$text: black;
$accent: crimson;
$breakpoint: 1050px;
@mixin mobile {
    @media (max-width: $breakpoint) {
        @content;
    }
}
@mixin desktop {
    @media (min-width: $breakpoint) {
        @content;
    }
}
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    font-family: $font;
}
::-webkit-scrollbar {
    width: 15px;
    border: 1px solid $secondary;
    &-thumb {
        background-color: $accent;
        border-radius: 7px;
    }
}
body {
    background-color: $primary;
    color: $text;
}
h1, p {
    overflow-wrap: break-word;
}
p, button, input, textarea {
    font-size: 17.5px;
}
h1 {
    font-size: 35px;
}
a {
    text-decoration: none;
}

.app {
    width: 100%;
    padding: 35px;
    display: flex;
    justify-content: center;
    @include mobile {
        padding: 17.5px;
    }
    .content {
        width: 100%;
        max-width: 700px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@import 'components/_background';
@import 'components/_header';
@import 'components/_form';
@import 'components/_todos';