$font: "Helvetica Neue", Helvetica, Arial, sans-serif;
$primary: white;
$secondary: lightgrey;
$text: black;
$accent: crimson;
$breakpoint: 1050px;
@mixin mobile {
    @media (max-width: $breakpoint) {
        @content;
    }
}
@mixin desktop {
    @media (min-width: $breakpoint) {
        @content;
    }
}
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    font-family: $font;
}
::-webkit-scrollbar {
    width: 15px;
    border: 1px solid $secondary;
    &-thumb {
        background-color: $accent;
        border-radius: 7px;
    }
}
body {
    background-color: $primary;
    color: $text;
}
h1, p {
    overflow-wrap: break-word;
}
p, button, input, textarea {
    font-size: 17.5px;
}
h1 {
    font-size: 35px;
}
a {
    text-decoration: none;
}